img {width: 200px;}
.black{
    background-color: black;
 color: white;
}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.purple{
    background-color: purple;
}
.pink{
    color: pink;
}

div{
    width: 300px;
    height: 500px;
    border: 4px;
    background-color: brown;
}
 
